.setup {
  display: flex;
  height: 70vh;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.text_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
}

.text_container h2 {
  font-size: 4rem;
  line-height: 1.4;
  margin-bottom: 20px;
  color: #fff;
  max-width: 820px;
}

.text_container .primary_button {
  padding: 14px 4px;
  background-color: #5b43f3;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: -1px;
  width: 194px;
}

.text_container .primary_button:hover {
  background-color: #4332c9;
}

.image_container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}