.cardListContainer {
    width: 100%;
    margin: 40px auto 0;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 20px;
}

.cardWrapper, .cardLink {
    flex: 1 1 calc(33.333% - 20px);
    min-width: 250px;
    max-width: 480px;
}



.swiperContainer {
    width: 100%;
    margin-top: 50px;
    padding: 0 20px;
}

.slideImage {
    width: 100%;
    max-height: 550px;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loading, .error {
    text-align: center;
    padding: 40px;
    font-size: 18px;
}

.error {
    color: #ff0000;
}

.cardWrapper {
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}

.cardLink {
    text-decoration: none;
    width: 100%;
}

@media (max-width: 768px) {
    .columns {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    
    .swiperContainer {
        margin-top: 30px;
    }
    
    .slideImage {
        max-height: 400px;
    }
}

@media (max-width: 360px) {
    .cardListContainer {
        margin-top: 20px;
    }
    
    .columns {
        padding: 0 10px;
        gap: 10px;
    }
    
    .swiperContainer {
        margin-top: 20px;
        padding: 0 10px;
    }
    
    .slideImage {
        max-height: 250px;
    }
    
    .loading, .error {
        padding: 20px;
        font-size: 16px;
    }
}