.Candidates {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.Candidates_content {
    text-align: center;
    width: 100%;
}

.Candidates_content h1 {
    font-size: 60px;
    margin-bottom: -22px;
}

.Candidates_content h1:last-of-type {
    margin-bottom: 20px;
}

.Candidates_content p {
    font-size: 23px;
    margin: 40px 0 0 0;
    color: #707070;
}

.Candidates_content p:last-child {
    font-size: 17px;
    margin: 30px 0 40px 0;
}

.can {
    border: 1px solid rgba(200, 198, 221, 0.75);
    justify-content: center;
    margin: 40px 0 -33px 0;
    align-items: center;
    padding: 15px 33px;
    background-color: rgba(61, 30, 221, 0.9);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block; /* Добавлено */
    text-align: center; /* Добавлено */
    text-decoration: none; /* Добавлено */
}

.can:hover {
    background-color: #434190; /* Добавлено */
}

.minitext {
    margin-top: 20px;
}

.gradient {
    position: relative;
    width: 100%;
}

.gradient::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black 50%, white 50%);
    z-index: -2;
}

.img1 {
    width: 1500px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 100px;
}

/* Адаптив для 768px */
@media (max-width: 768px) {
    .Candidates_content h1 {
        font-size: 30px;
        margin-bottom: 0px;
    }

    .Candidates_content h1:last-of-type {
        margin-bottom: 0px;
    }

    .Candidates_content p {
        font-size: 16px;
        margin-top: 30px;
    }

    .can {
        margin: 30px 0 -25px 0;
        padding: 12px 28px;
        font-size: 15px;
    }

    .img1 {
        padding-bottom: 70px;
    }
}

/* Адаптив для 360px */
@media (max-width: 360px) {
    .Candidates {
        margin: 20px 0;
    }

    .Candidates_content h1 {
        font-size: 28px;
        margin-bottom: -10px;
    }

    .Candidates_content h1:last-of-type {
        margin-bottom: 10px;
    }

    .Candidates_content p {
        font-size: 16px;
        margin-top: 20px;
        padding: 0 10px;
    }

    .Candidates_content p:last-child {
        font-size: 14px;
        margin: 20px 0 30px 0;
    }

    .can {
        margin: 25px 0 -20px 0;
        padding: 10px 20px;
        font-size: 14px;
    }

    .img1 {
        padding-bottom: 50px;
    }
}