.Candidates {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    background-color: #0a192f; /* Тёмный фон */
    padding: 50px 20px;
    margin-top: 0;
    margin-bottom: -90px;
}

.Candidates_content {
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

.Candidates_content h1 {
    font-size: 60px;
    margin-bottom: -22px;
    color: #e6f1ff; /* Светлый текст */
}

.Candidates_content h1:last-of-type {
    margin-bottom: 20px;
}

.Candidates_content p {
    font-size: 23px;
    margin: 40px 0 0 0;
    color: #8892b0; /* Серо-голубой текст */
}

.Candidates_content p:last-child {
    font-size: 17px;
    margin: 30px 0 40px 0;
    color: #8892b0;
}

.can {
    border: none;
    justify-content: center;
    margin: 40px 0 -33px 0;
    align-items: center;
    padding: 15px 33px;
    background: linear-gradient(145deg, #0aecd5, #0a7ef5); /* Градиент */
    color: #0a192f;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.can:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(10, 236, 213, 0.3);
}

.minitext {
    margin-top: 20px;
}

.gradient {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.gradient::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0a192f 20%, transparent 100%);
    z-index: 1;
}

.img1 {
    width: 100%;
    max-width: 1500px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

@media (max-width: 768px) {
    .Candidates_content h1 {
        font-size: 30px;
        margin-bottom: 0px;
    }

    .Candidates_content h1:last-of-type {
        margin-bottom: 0px;
    }

    .Candidates_content p {
        font-size: 16px;
        margin-top: 30px;
    }

    .can {
        margin: 30px 0 -25px 0;
        padding: 12px 28px;
        font-size: 15px;
    }
}

@media (max-width: 360px) {
    .Candidates {
        /* margin: 20px 0; */
        padding: 30px 15px;
    }

    .Candidates_content h1 {
        font-size: 28px;
        margin-bottom: -10px;
    }

    .Candidates_content h1:last-of-type {
        margin-bottom: 10px;
    }

    .Candidates_content p {
        font-size: 16px;
        margin-top: 20px;
        padding: 0 10px;
    }

    .Candidates_content p:last-child {
        font-size: 14px;
        margin: 20px 0 30px 0;
    }

    .can {
        margin: 25px 0 -20px 0;
        padding: 10px 20px;
        font-size: 14px;
    }

    .gradient::before {
        background: linear-gradient(to top, #0a192f 40%, transparent 100%);
    }
}